.filter-container {
  width: 40%;
}

.filter {
  width: 10rem;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.filter form {
  flex: 1;
}

.filter-input {
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  width: 100%;
  padding: 1rem;
  background-color: rgba(114, 37, 93, 0.518);
}

.filter-input::placeholder {
  color: white;
}

.filter-input:focus {
  outline: none;
}

.dropdown {
  position: absolute;
  margin-top: 2px;
  background-color: rgba(114, 37, 93, 0.884);
  border-radius: 5px;
}

.dropdown-item {
  padding: 0.8rem 3rem;
  cursor: pointer;
}

.icon {
  color: white;
  width: 2rem;
  background-color: rgba(114, 37, 93, 0.518);
  padding: 0.969rem;
}
