.navigation {
  background-color: rgba(114, 37, 93, 0.518);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.heading {
  font-size: 40px;
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.position {
  display: flex;
  gap: 20px;
  cursor: pointer;
  font-size: 20px;
}

.icon-nav {
  color: white;
  width: 5rem;
}

@media (max-width: 480px) {
  .navigation {
    gap: 25px;
    display: flex;
    align-items: center;
  }

  .icon-nav {
    color: white;
    width: 2rem;
  }
}
