.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
}

.search-container form {
  flex: 1;
}

.search-input {
  border: none;
  width: 30%;
  padding: 1rem;
  background-color: rgba(114, 37, 93, 0.518);
}

.search-input::placeholder {
  color: white;
}

.search-input:focus {
  outline: none;
}

.icon {
  color: black;
  width: 2rem;
  padding: 0.969rem;
}
