.country-detail-container {
  max-width: 80%;
  height: 100vh;
  color: white;
  margin: 0 auto;
}

.country-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.country-detail-content h1 {
  margin-bottom: 2rem;
}

.country-detail-image {
  width: 40%;
  padding-top: 2rem;
}

.country-detail-right {
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-left {
  min-width: 50%;
}

.detail-left p {
  margin-bottom: 1rem;
  font-weight: 600;
}

.detail-left span {
  font-weight: 300;
  margin-left: 4px;
}

.detail-right {
  min-width: 100%;
}

.detail-right p {
  margin-bottom: 1rem;
  font-weight: 600;
}

.detail-right span {
  font-weight: 300;
  margin-left: 4px;
}

@media (min-width: 480px) {
  .country-detail-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin-top: 10rem;
  }

  .country-detail-image {
    width: 70%;
  }

  h1 {
    font-size: 50px;
  }

  .details p {
    font-size: 30px;
  }
}
